# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Datasets & Large Models
Backend/Dataset/
Dataset/
app/model/
*.json
*.png
!package.json
!tsconfig.json

# Prompts
Prompts/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node / Frontend
node_modules/
.next/
out/
